<div class="contacts">
  <div class="contacts__columns-container">
    <div class="column__1">
      <app-toggle-box header="Add Friends">
        <div class="input-search-container">
          <app-custom-input label="Enter email"
                            (keyup)="onTypingSearch()"
                            [control]="contactsController.controls['email']" ></app-custom-input>
          <div class="search-results-container">
            <div class="result-item" *ngFor="let person of peopleList; index as i">
              <div class="result-item__header" (click)="onClickSendFriendRequest(i)">
                {{person.email}}
                <div class="material-icons add-icon">add</div>
              </div>
              <div class="result-item__body">
                <div class="body-item">
                  Firstname: <span class="text-yellow">{{person.firstname}}</span>
                </div>
                <div class="body-item">
                  Lastname: <span class="text-yellow">{{person.lastname}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </app-toggle-box>
    </div>
    <div class="column__2">
      <app-toggle-box header="Friends' List">
        <div class="list-container">
          <div class="item" *ngFor="let friend of friendsList; index as i" (click)="onClickOpenProfile(i)">
            {{friend.firstname}} {{friend.lastname}}
          </div>
        </div>
      </app-toggle-box>
    </div>
    <div class="column__3">
      <div class="profile-card-container" *ngFor="let selectedProfile of selectedProfileList; index as i">
        <app-profile-friend [selectedProfile]="selectedProfile" [index]="i" (isClosed)="onClickCloseProfile(i)" ></app-profile-friend>
      </div>
    </div>
  </div>
</div>
